@import "../../styles/ciripa-palette";

.not-found {
  display: flex;
  flex-direction: column;
  color: map_get($ciripa-primary, 400);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  a {
    text-decoration: none;
  }
}
