<div class="fab-container">
  <button mat-fab class="fab-toggler" color="primary" (click)="save()" matTooltip="Salva" [matTooltipPosition]="'left'">
    <mat-icon>check</mat-icon>
  </button>
  <div>
    <button mat-mini-fab class="fab-secondary" (click)="restore()" color="accent" matTooltip="Ripristina dati"
      [matTooltipPosition]="'left'">
      <mat-icon>restore</mat-icon>
    </button>
    <button mat-mini-fab class="fab-secondary" (click)="delete()" color="accent" matTooltip="Elimina"
      [matTooltipPosition]="'left'">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div class="container">
  <h1 class="text-center">Bambino</h1>

  <form [formGroup]="editForm" id="bambinoForm">
    <div class="row">
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Nome">
          <input kendoTextBox formControlName="firstName"
            [ngClass]="{'error': editForm?.controls.firstName.errors && editForm?.controls.firstName.touched}">
        </kendo-textbox-container>
        <p class="errorMessage"
          *ngIf="getFormControlByName('firstName').errors && getFormControlByName('firstName').touched">
          Obbligatorio</p>
      </div>
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Cognome">
          <input kendoTextBox formControlName="lastName"
            [ngClass]="{'error': editForm?.controls.lastName.errors && editForm?.controls.lastName.touched}">
        </kendo-textbox-container>
        <p class="errorMessage"
          *ngIf="getFormControlByName('lastName').errors && getFormControlByName('lastName').touched">Obbligatorio</p>
      </div>
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Data di nascita">
          <kendo-datepicker formControlName="birthDate" id="birthDate"></kendo-datepicker>
        </kendo-textbox-container>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Tipo contratto">
          <kendo-dropdownlist formControlName="contractType" id="contractType" [data]="contractTypeList"
            textField="text" valueField="value" valuePrimitive="true">
          </kendo-dropdownlist>
        </kendo-textbox-container>
        <p class="errorMessage"
          *ngIf="getFormControlByName('contractType').errors && getFormControlByName('contractType').touched">
          Obbligatorio</p>
      </div>
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Cliente dal">
          <kendo-datepicker formControlName="from" id="from"></kendo-datepicker>
        </kendo-textbox-container>
      </div>
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Cliente al">
          <kendo-datepicker formControlName="to" id="to"></kendo-datepicker>
        </kendo-textbox-container>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Note">
          <textarea kendoTextArea formControlName="notes"></textarea>
        </kendo-textbox-container>
      </div>
      <div class="col-4">
        <kendo-textbox-container floatingLabel="Quota iscrizione">
          <kendo-numerictextbox formControlName="subscription" id="subscription" [min]="0" [format]="'c2'">
          </kendo-numerictextbox>
        </kendo-textbox-container>
      </div>
      <div class="col-4">
        <div class="k-form-field">
          <input type="checkbox" id="ch1" class="k-checkbox" formControlName="subscriptionPaid" />
          <label class="k-checkbox-label" for="ch1">Quota iscrizione pagata</label>
        </div>
      </div>
    </div>
    <h6>Dati fatturazione</h6>
    <div class="billingData" formGroupName="billingData">
      <div class="row">
        <div class="col-4">
          <kendo-textbox-container floatingLabel="Nome genitore">
            <input kendoTextBox formControlName="parentFirstName"
              [ngClass]="{'error': editForm?.controls.billingData.controls.parentFirstName.errors && editForm?.controls.billingData.controls.parentFirstName.touched}">
          </kendo-textbox-container>
          <p class="errorMessage"
            *ngIf="getBillingDataFormControlByName('parentFirstName').errors && getBillingDataFormControlByName('parentFirstName').touched">
            Obbligatorio</p>
        </div>
        <div class="col-4">
          <kendo-textbox-container floatingLabel="Cognome genitore">
            <input kendoTextBox formControlName="parentLastName"
              [ngClass]="{'error': editForm?.controls.datiFatturazione?.controls.parentLastName.errors && editForm?.controls.datiFatturazione?.controls.parentLastName.touched}">
          </kendo-textbox-container>
          <p class="errorMessage"
            *ngIf="getBillingDataFormControlByName('parentLastName').errors && getBillingDataFormControlByName('parentLastName').touched">
            Obbligatorio</p>
        </div>
        <div class="col-4">
          <kendo-textbox-container floatingLabel="Metodo pagamento">
            <kendo-dropdownlist formControlName="paymentMethod" id="metodoPagamento" [data]="paymentMethodList"
              textField="text" valueField="value" valuePrimitive="true">
            </kendo-dropdownlist>
          </kendo-textbox-container>
        </div>
      </div>

      <div class="row">
        <div class="col-5">
          <kendo-textbox-container floatingLabel="Indirizzo">
            <input kendoTextBox formControlName="address">
          </kendo-textbox-container>
        </div>
        <div class="col-3">
          <kendo-textbox-container floatingLabel="Citta">
            <input kendoTextBox formControlName="city">
          </kendo-textbox-container>
        </div>
        <div class="col-2">
          <kendo-textbox-container floatingLabel="Cap">
            <input kendoTextBox formControlName="cap">
          </kendo-textbox-container>
        </div>
        <div class="col-2">
          <kendo-textbox-container floatingLabel="Prov.">
            <input kendoTextBox formControlName="province">
          </kendo-textbox-container>
        </div>
      </div>
    </div>
  </form>
</div>
