<div class="fab-container">
  <button mat-fab color="primary" (click)="createKid()" matTooltip="Aggiungi bambino" [matTooltipPosition]="'left'">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
</div>

<div class="container">
  <h1 class="text-center">Anagrafiche</h1>

  <div class="row list-options">
    <div class="options-row">
      <div class="option">
        <input type="radio" name="listOptions" id="parents" class="k-radio" [checked]="hiddenKid && !hiddenParent">
        <label class="k-radio-label" for="parents" (click)="hideBambinoColumn()">Genitori</label>
      </div>
      <div class="option">
        <input type="radio" name="listOptions" id="kids" class="k-radio" [checked]="!hiddenKid && hiddenParent">
        <label class="k-radio-label" for="kids" (click)="hideGenitoreColumn()">Bambini</label>
      </div>
      <div class="option">
        <input type="radio" name="listOptions" id="tutti" class="k-radio" [checked]="!hiddenKid && !hiddenParent">
        <label class="k-radio-label" for="tutti" (click)="restoreColumns()">Vedi tutti</label>
      </div>
    </div>
  </div>

  <kendo-grid [data]="gridView" [sortable]="'single'" [sort]="sort" (sortChange)="sortChange($event)"
    [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)">
    <kendo-grid-messages pagerPage="Pagina" pagerOf="di" pagerItems="elementi" pagerItemsPerPage="elementi per pagina"
      pagerFirstPage="Prima pagina" pagerLastPage="Ultima pagina" pagerPreviousPage="Precedente"
      pagerNextPage="Successiva">
    </kendo-grid-messages>
    <kendo-grid-column-group title="Genitore" [locked]="false" [hidden]="hiddenParent && !hiddenKid">
      <kendo-grid-column field="parentFirstName" title="Nome">
      </kendo-grid-column>
      <kendo-grid-column field="parentLastName" title="Cognome">
      </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column-group title="Bambino" [locked]="false" [hidden]="!hiddenParent && hiddenKid">
      <kendo-grid-column field="firstName" title="Nome">
      </kendo-grid-column>
      <kendo-grid-column field="lastName" title="Cognome">
      </kendo-grid-column>
      <kendo-grid-column field="birthdate" title="Data nascita">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{dataItem.birthdate | date}}</span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-column field="tipoContratto" title="Contratto">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{getContractTypeDescription(dataItem?.contractType)}}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="quotaIscrizionePagata" title="Iscrizione">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          <mat-icon class="pagato" [hidden]="!dataItem.subscriptionPaid">check</mat-icon>
          <mat-icon class="non-pagato" [hidden]="dataItem.subscriptionPaid">close</mat-icon>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" title="Dettagli">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center pointer">
          <a (click)="navigateToKid(dataItem.id)">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" title="Presenze">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center pointer">
          <a (click)="navigateToPresences(dataItem.id)">
            <mat-icon>event_note</mat-icon>
          </a>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

</div>
