/* For use in src/lib/core/theming/_palette.scss */
$ciripa-background: (
  50: #f0fbf7,
  100: #daf5eb,
  200: #c2eedd,
  300: #aae7cf,
  400: #97e1c5,
  500: #85dcbb,
  600: #7dd8b5,
  700: #72d3ac,
  800: #68cea4,
  900: #55c596,
  A100: #ffffff,
  A200: #f5fffb,
  A400: #c2ffe4,
  A700: #a8ffd9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ciripa-primary: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #0d7b6c,
  A100: #adfff3,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ciripa-accent: (
  50: #fcf5ef,
  100: #f8e5d8,
  200: #f4d4be,
  300: #efc2a3,
  400: #ebb590,
  500: #e8a87c,
  600: #e5a074,
  700: #e29769,
  800: #de8d5f,
  900: #d87d4c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffddcd,
  A700: #ffccb3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

/// ALTERNATIVE PALETTE

/* For use in src/lib/core/theming/_palette.scss */
// $ciripa-primary: (
//   50: #fee5e9,
//   100: #fcbec8,
//   200: #fa92a4,
//   300: #f86680,
//   400: #f74664,
//   500: #f52549,
//   600: #f42142,
//   700: #f21b39,
//   800: #f01631,
//   900: #ee0d21,
//   A100: #ffffff,
//   A200: #ffe5e7,
//   A400: #ffb3b7,
//   A700: #ff99a0,
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #000000,
//     400: #ffffff,
//     500: #ffffff,
//     600: #ffffff,
//     700: #ffffff,
//     800: #ffffff,
//     900: #ffffff,
//     A100: #000000,
//     A200: #000000,
//     A400: #000000,
//     A700: #000000
//   )
// );

// $ciripa-background: (
//   50: #feedee,
//   100: #fed1d6,
//   200: #fdb3ba,
//   300: #fc959e,
//   400: #fb7e8a,
//   500: #fa6775,
//   600: #f95f6d,
//   700: #f95462,
//   800: #f84a58,
//   900: #f63945,
//   A100: #ffffff,
//   A200: #ffffff,
//   A400: #ffdadc,
//   A700: #ffc0c4,
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #000000,
//     400: #000000,
//     500: #000000,
//     600: #000000,
//     700: #000000,
//     800: #ffffff,
//     900: #ffffff,
//     A100: #000000,
//     A200: #000000,
//     A400: #000000,
//     A700: #000000
//   )
// );

// $ciripa-accent: (
//   50: #fffaea,
//   100: #fff3ca,
//   200: #ffeba6,
//   300: #ffe282,
//   400: #ffdc68,
//   500: #ffd64d,
//   600: #ffd146,
//   700: #ffcc3d,
//   800: #ffc634,
//   900: #ffbc25,
//   A100: #ffffff,
//   A200: #ffffff,
//   A400: #fff1d3,
//   A700: #ffe8b9,
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #000000,
//     400: #000000,
//     500: #000000,
//     600: #000000,
//     700: #000000,
//     800: #000000,
//     900: #000000,
//     A100: #000000,
//     A200: #000000,
//     A400: #000000,
//     A700: #000000
//   )
// );
