// $ciripa-primary-color: #41b3a3;
// $ciripa-accent-color: #e8a87c;
// $ciripa-secondary-color: #c38d9e;
// $ciripa-background-color: #85dcbb;
/* For use in src/lib/core/theming/_palette.scss */
$ciripa-background: (
  50: #f0fbf7,
  100: #daf5eb,
  200: #c2eedd,
  300: #aae7cf,
  400: #97e1c5,
  500: #85dcbb,
  600: #7dd8b5,
  700: #72d3ac,
  800: #68cea4,
  900: #55c596,
  A100: #ffffff,
  A200: #f5fffb,
  A400: #c2ffe4,
  A700: #a8ffd9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ciripa-primary: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #0d7b6c,
  A100: #adfff3,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ciripa-accent: (
  50: #fcf5ef,
  100: #f8e5d8,
  200: #f4d4be,
  300: #efc2a3,
  400: #ebb590,
  500: #e8a87c,
  600: #e5a074,
  700: #e29769,
  800: #de8d5f,
  900: #d87d4c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffddcd,
  A700: #ffccb3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
