<div class="fab-container">
  <button mat-fab class="fab-toggler" color="primary" (click)="save()" matTooltip="Salva" [matTooltipPosition]="'left'">
    <mat-icon>check</mat-icon>
  </button>
</div>

<div class="container">
  <h1 class="text-center">Appello</h1>

  <button mat-raised-button color="primary" (click)="exportToPDF(grid)">Stampa appello</button>

  <div class="row">
    <div class="form-group col-4 offset-4" id="attendanceDate">
      <kendo-datepicker [value]="today" class="form-control" id="date" (valueChange)="onChange($event)">
      </kendo-datepicker>
    </div>
  </div>

  <form [formGroup]="editForm">
    <kendo-grid #grid="kendoGrid" [data]="gridView" formArrayName="presencesList">
      <!-- Id -->
      <kendo-grid-column title="Id" [hidden]="true">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <kendo-numerictextbox [formControl]="idFormControl(rowIndex)" [format]="'n0'" disabled>
          </kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <!-- BambinoId -->
      <kendo-grid-column title="BambinoId" [hidden]="true">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <kendo-numerictextbox [formControl]="kidIdFormControl(rowIndex)" [format]="'n0'">
          </kendo-numerictextbox>
        </ng-template>
      </kendo-grid-column>

      <!-- Nome cognome -->
      <kendo-grid-column title="Nome">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{dataItem.kid.firstName}} {{dataItem.kid.lastName}}</span>
        </ng-template>
      </kendo-grid-column>

      <!-- Mattina -->
      <kendo-grid-column-group title="Mattina" [locked]="false">
        <kendo-grid-column title="Entrata">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <kendo-timepicker [formControl]="morningEntryFormControl(rowIndex)"
              [ngClass]="{'error': morningEntryFormControl(rowIndex)?.errors, 'hidden-field': isPrintingPdf }">
            </kendo-timepicker>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Uscita">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <kendo-timepicker [formControl]="morningExitFormControl(rowIndex)"
              [ngClass]="{'error': morningExitFormControl(rowIndex)?.errors, 'hidden-field': isPrintingPdf }">
            </kendo-timepicker>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid-column-group>

      <!-- Pomeriggio -->
      <kendo-grid-column-group title="Pomeriggio" [locked]="false">
        <kendo-grid-column title="Entrata">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <kendo-timepicker [formControl]="eveningEntryFormControl(rowIndex)"
              [ngClass]="{'error': eveningEntryFormControl(rowIndex)?.errors, 'hidden-field': isPrintingPdf }">
            </kendo-timepicker>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Uscita">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <kendo-timepicker [formControl]="eveningExitFormControl(rowIndex)"
              [ngClass]="{'error': eveningExitFormControl(rowIndex)?.errors, 'hidden-field': isPrintingPdf }">
            </kendo-timepicker>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid-column-group>

      <!-- PDF EXPORT  -->
      <kendo-grid-pdf fileName="Appello{{ today | date:'shortDate' }}.pdf" [allPages]=" true" paperSize="A4">
        <kendo-grid-pdf-margin top="3cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
        <ng-template kendoGridPDFTemplate>
          <div class="page-template">
            <div class="header">
              <h3>Appello {{ today | date:'shortDate' }}</h3>
            </div>
          </div>
        </ng-template>
      </kendo-grid-pdf>
    </kendo-grid>
  </form>
</div>
