@import "../../styles/ciripa-palette";

$sidenav-width: 200px;

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: $sidenav-width;
}

mat-sidenav-content {
  width: calc(100%-#{$sidenav-width});
}

mat-nav-list {
  h3 {
    width: 100%;
    text-align: center;
  }
}
