<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <img class="logo" src="../../assets/logo.png" alt="ciripa logo">
      <mat-divider></mat-divider>
      <!-- Anagrafiche -->
      <a (click)="navigateToKidsList()">
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>child_care</mat-icon>
          </button>
          <a matLine>Anagrafiche</a>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <!-- Appello -->
      <a (click)="navigateToAttendance()">
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>calendar_today</mat-icon>
          </button>
          <a matLine>Appello</a>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <!-- Presenze -->
      <a (click)="navigateToPresences()">
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>view_list</mat-icon>
          </button>
          <a matLine>Presenze</a>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <!-- Impostazioni -->
      <a (click)="navigateToSettings()">
        <mat-list-item>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          <a matLine>Impostazioni</a>
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
